/* =====================================================
   File Name : table.css
   Module    : ERP Design System
   ===================================================== */

.erp-table{

    width:100%;

    border-collapse:collapse;

}

.erp-table thead{

    background:var(--surface-light);

}

.erp-table th{

    text-align:left;

    padding:16px;

    color:var(--text-secondary);

    font-size:14px;

    font-weight:600;

    border-bottom:1px solid var(--border);

}

.erp-table td{

    padding:16px;

    border-bottom:1px solid var(--border-light);

}

.erp-table tbody tr{

    transition:var(--transition);

    cursor:pointer;

}

.erp-table tbody tr:hover{

    background:#F8FAFC;

}